@import "../../../styles/variables";


.cta {
  border: none;
  background: none;
  cursor: pointer;
  
  
  svg {
    stroke:$colorTitulos;
    stroke-width:2; 
    stroke-linecap:round;
    width: 2em;

    &:hover {
      transform: scale(1.1);
      stroke:$letraFondoOscuro;
    }
  }

}



.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.pagina-actual {
  font-size: 1.2em;
  font-weight: bold;
  color: $colorTitulos;
}