@import "../../styles/_variables.scss";

.userImagePerfil{
    max-width: 15em;
    border-radius: 50%;
}
.profileIcon{
    width: 1.5rem;
      height: 1.5rem;
     
        
        stroke: $colorTexto;
        stroke-width: 0.5em;
        fill: $colorTexto;

}