@import "../../../styles/_variables.scss";

.userImagePerfil{
    width: 16em;
    height: 15em;
    border-radius: 50%;
}
.profileIcon{
    width: 1.5rem;
      height: 1.5rem;
     
        stroke: $colorTexto;
        stroke-width: 0.6em;
        fill: $colorTexto;
.dark &{
  stroke: $colorTextoDark;
        fill: $colorTextoDark;
}
}
