@import "../../styles/variables.scss";


.boton {
  display: flex;
  height: 3em;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; // Espaciado uniforme entre ícono y texto
  border-radius: 2rem;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: $fondoOscuro;
  color: $colorTexto;

  & > svg,
  & > span { // Asegura que texto e ícono compartan estilos similares
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > svg {
    font-size: 20px;
    transition: all 0.4s ease-in;
    
  }

  &:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
  }

  &:hover {
    background-color: $fondoOscuro;
    transform: translateY(-2px);
  }
}


.group {
  position: relative;

  .input {
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $fondoOscuro;
    background: transparent;

    &:focus {
      outline: none;
    }

    
    &:not(:placeholder-shown) ~ label,
    &:focus ~ label{
      top: -10px;
      font-size: 16px;
      color: $letraFondoOscuro;
      .obligatorio {
        color: $danger;
        
      }
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
      width: 50%;
    }

    &:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }

    &.textarea {
      resize: none;
      min-height: 45px;
      overflow: hidden;
    }
  }

  label {
    color: $colorTextoSecundario;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    .obligatorio & {
      color: $colorTextoSecundario;
      
    }
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $letraFondoOscuro;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  
    .svg-icon {
      width: 24px;
      height: 24px;
      fill: $colorTextoSecundario; // Cambia el color aquí
      transition: fill 0.3s ease;
  
      &:hover {
        fill: $letraFondoOscuro; // Cambia el color al pasar el mouse
      }
    }
  }

  @keyframes inputHighlighter {
    from {
      background: $letraFondoOscuro;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}


// DarkMode

.dark {
  .boton {
    background: $fondoDarkClaro;
    color: $colorTextoDark;
    border: $bordeDarkClaro;

    &:hover {
      background-color: $fondoDarkOscuro;
      color: $letraFondoDarkClaro;
      .profileIcon {
         
            stroke: $colorTextoDark;
                  fill: $colorTextoDark;
          
        }
    }

    & > svg {
      color: $letraFondoDarkClaro;

      &:hover {
        color: $letraFondoDarkOscuro;
        
      }
    }
  }

  .group {
    .input {
      border-bottom: 1px solid $fondoDarkClaro;
      color: $colorTextoDark;

      &:focus {
        outline: none;
      }

      &:not(:placeholder-shown) ~ label,
      &:focus ~ label {
        color: $letraFondoDarkOscuro;

        .obligatorio {
          color: $dangerDark;
        }
      }

      &:focus ~ .bar:before,
      &:focus ~ .bar:after {
        background: $letraFondoDarkClaro;
      }

      
    }

    label {
      color: $colorTextoSecundarioDark;

      .obligatorio & {
        color: $dangerDark;
      }
    }

    .bar {
      &:before,
      &:after {
        background: $letraFondoDarkClaro;
      }
    }

    .highlight {
      background: $letraFondoDarkOscuro;
    }

    .password-toggle {
      .svg-icon {
        fill: $colorTextoSecundarioDark;

        &:hover {
          fill: $letraFondoDarkOscuro;
        }
      }
    }
  }
}
