@import "../../styles/variables.scss";

.boton {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: $fondoClaro;

  & > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
  }

  &:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
  }

  &:hover {
    box-shadow: 9px 9px 33px $fondoOscuro, -9px -9px 33px $fondoClaro;
    background-color: $fondoOscuro;
    transform: translateY(-2px);
  }
}

.group {
  position: relative;

  .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $fondoOscuro;
    background: transparent;

    &:focus {
      outline: none;
    }

    
    &:not(:placeholder-shown) ~ label,
    &:focus ~ label{
      top: -10px;
      font-size: 16px;
      color: $letraFondoOscuro;
      .obligatorio {
        color: $danger;
        
      }
    }

    &:focus ~ .bar:before,
    &:focus ~ .bar:after {
      width: 50%;
    }

    &:focus ~ .highlight {
      animation: inputHighlighter 0.3s ease;
    }

    &.textarea {
      resize: none;
      min-height: 45px;
      overflow: hidden;
    }
  }

  label {
    color: $colorTextoSecundario;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    .obligatorio & {
      color: $colorTextoSecundario;
      
    }
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $letraFondoOscuro;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
      
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  
    .svg-icon {
      width: 24px;
      height: 24px;
      fill: #999; // Cambia el color aquí
      transition: fill 0.3s ease;
  
      &:hover {
        fill: $letraFondoOscuro; // Cambia el color al pasar el mouse
      }
    }
  }

  @keyframes inputHighlighter {
    from {
      background: $letraFondoOscuro;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}
