// Importa fuentes externas
// @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
// @import url("https://cdn.jsdelivr.net/gh/antijingoist/open-dyslexic/fonts.css");

//colores

// Paleta modo claro
$fondo: #ffffff;
$fondoClaro: #f6f0e1;
$fondoOscuro: #d1c4b3;
$letraFondoClaro: #5a4f3c;
$letraFondoOscuro: #4a3a2b;

$colorTitulos: #6d4c41;
$colorTexto: #252525;
$colorTextoSecundario: #999;
$danger: #f84545;

// Paleta modo oscuro

// Paleta dark mode optimizada para no cansar la vista
$fondoDark: #212121;                // Fondo principal, oscuro pero no negro puro
$fondoDarkClaro: #424242;           // Fondo ligeramente más claro para elementos secundarios
$fondoDarkOscuro: #2f2f2f;          // Fondo más oscuro para áreas profundas
$letraFondoDarkClaro: #dacec0;      // Color de texto sobre fondos claros oscuros
$letraFondoDarkOscuro: #b39d8c;     // Color de texto sobre fondos oscuros intensos

$colorTitulosDark: #9d9183;         // Color cálido para títulos
$colorTextoDark: hsl(0, 0%, 100%);           // Color principal para texto, gris claro
$colorTextoSecundarioDark: #8a8a8a; // Texto secundario con menos contraste, pero legible
$dangerDark: #ff7575;               // Rojo peligro, ligeramente suavizado pero vibrante

// // Extras para evitar cansancio visual
// $enfasisDark: #7ba7b8;              // Azul suave para enlaces o énfasis
// $colorExitoDark: #7cb489;           // Verde pastel para mensajes de éxito



//letra
// $titulos: "Lexend", sans-serif;
$sidebarFontSize: 18px;
// $fuenteLetra: "OpenDyslexic", sans-serif;

//bordes
$bordeClaro:rgba($colorTextoSecundario, 0.5) 1.8px solid;
$bordeOscuro: rgba($colorTexto, 0.5) 1.8px solid;

$bordeDarkClaro: rgba($colorTextoSecundarioDark, 0.5) 1.8px solid;
$bordeDarkOscuro: rgba($colorTextoDark, 0.5) 1.8px solid;


