//colores
$fondoClaro: #fef8f2;
$fondoOscuro: #efe9dc;
$letraFondoClaro: #9d9183;
$letraFondoOscuro: #9B8170;

$colorTitulos: #764b36;
$colorTexto: #252525;

//letra
$titulos: "Times New Roman", Times, serif;
$sidebarFontSize: 18px;

//bordes

$bordeClaro: $letraFondoClaro 1.8px solid;
$bordeOscuro: $letraFondoOscuro 1.8px solid;

//////