@import "../../../styles/variables";
.verProducto{
    
    img {
        width: 100%; /* Asegura que la imagen cubra todo el ancho del contenedor */
        height: 100%; /* Asegura que la imagen cubra todo el alto del contenedor */
        object-fit: cover; /* Hace que la imagen se ajuste sin distorsionarse y cubra el área disponible */
      }
}
.carousel{
    border: $bordeClaro;
    border-radius: 1rem;
    overflow: hidden;

    .carousel-inner {
        width: 100%;
        height: 100%;

        .carousel-item {
            width: 100%;
            height: 100%;
            
          }
      }
}


.carousel-indicators {
    [data-bs-target] {
      background-color: $colorTextoSecundario;
      &.active {
        background-color: $fondoOscuro;
      }
  
      // Hover y focus para mejorar la experiencia del usuario
      &:hover,
      &:focus {
        opacity: $fondoClaro;
      }
    }
  }
  
  
  
      
  .carousel-control-prev,
    .carousel-control-next {
            position: absolute;
            top: 50%;             
            transform: translateY(-50%); 
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            padding: 0;
            color: #fff;
            text-align: center;
            background: 0 0;
            background-color: rgba(0, 0, 0, 0);
            border: 0;
            opacity: 0.5;
            transition: opacity 0.15s ease;
            height: 30%; 
          
          
    
}
  .carruselIcon{
        fill:red;
    }
          