@import "../../../styles/_variables.scss";

.formSesion{
  width: 450px;
    & > * {
        margin: 15px;
      }
      
}
.linkSesion{
  font-weight: bold;
  color: $letraFondoClaro;
  &:hover{
    color: $letraFondoOscuro;
text-decoration: underline;  
}
  .dark &{
    color: $letraFondoDarkClaro;
    &:hover{
      color: $letraFondoDarkOscuro;
    }
  }
}