@import "../../../styles/_variables.scss";

.formSesion{
  width: 450px;
    & > * {
        margin: 15px;
      }
      
}
.linkSesion{
  color: $letraFondoClaro;
  &:hover{
    color: $letraFondoOscuro;
  }
}