@import '../../../styles/_variables.scss';



.carousel-contenedor {
    width: 100%;
    overflow: hidden;
    position: relative;
  
    .imgFlex {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow-x: hidden;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
  
      .custom-card {
        flex: none;
        width: 12rem;
      }
    }
  
    .boton-carrusel {

      body.dark & {
        background-color:  rgba($fondoDarkClaro, 0.5);

        color: $letraFondoDarkClaro;
        &:hover {
          background-color: $fondoDarkOscuro;
          color: $letraFondoDarkOscuro;
        }
      }
      position: absolute;
      width: 2em;
      height: 2em;
      top: 50%;
      transform: translateY(-50%);
      background-color:  rgba($fondoClaro, 0.5);
      border: none;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
  color: $letraFondoClaro;
  font-size: 14px;
      &.left {
        margin-left: 1%;
        left: 10px;
        
      }
  
      &.right {
        right: 10px;
      }
  
      &:hover {
        background-color: $fondoOscuro;
        color: $letraFondoOscuro;
      }
    }
  }