@import '../../../styles/variables.scss';

.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;

  .carousel-inner {
    display: flex;
    align-items: center;

    .carousel-item {
      display: flex; /* Para centrar los elementos */
      flex-direction: column;

      .custom-card {
        width: 10rem; 
        height: fit-content;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 2.5%;
    height: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: $fondoClaro;
    border-radius: 50%;
    padding: 10px;

    &:hover {
      background-color: $fondoOscuro;
      color: $letraFondoOscuro;
    }

    &-icon {
      /* Cambiar color de las flechas a rojo */
      background-color: transparent; /* Para mantener el diseño limpio */
      mask-image: none; /* Remover máscaras si es necesario */
      color: red; /* Aquí se establece el color de las flechas */
      fill: red; /* Si el ícono utiliza SVG */

      /* Cambiar colores en modo oscuro */
      body.dark & {
        color: red; /* Asegurar que sigue siendo rojo en modo oscuro */
      }
    }
  }

  .carousel-indicators {
    bottom: -15px; /* Ajustar si los indicadores están muy cerca */

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $fondoClaro;
      border: none;
      margin: 0 5px;

      &.active {
        background-color: $fondoOscuro;
      }

      /* Cambiar colores en modo oscuro */
      body.dark & {
        background-color: $fondoOscuro;

        &.active {
          background-color: lighten($fondoOscuro, 15%); /* Ajusta para destacar */
        }
      }
    }
  }
}
