@import '../../../styles/variables.scss';

  .carousel-contenedor {
    width: 100%;
    overflow: hidden;
    position: relative;
  
    .imgFlex {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow-x: hidden;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
  
      .card {
        flex: none;
        width: 14.5%;
      }
    }
  
    .boton-carrusel {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: $fondoClaro;
      border: none;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
  
      &.left {
        margin-left: 1%;
        left: 10px;
        color: $letraFondoClaro;
      }
  
      &.right {
        right: 10px;
        color: $letraFondoClaro;
      }
  
      &:hover {
        background-color: $fondoOscuro;
        color: $letraFondoOscuro;
      }
    }
  }

.carousel-contenedor {
    width: 100%;
    overflow: hidden;
    position: relative;
  
    .imgFlex {
      display: flex;
      scroll-snap-type: x mandatory;
      overflow-x: hidden;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
  
      .card {
        flex: none;
        width: 14.5%;
      }
    }
  
    .boton-carrusel {
      position: absolute;
  
      top: 50%;
      transform: translateY(-50%);
      background-color: $fondoClaro;
      border: none;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
  
      &.left {
        margin-left: 1%;
        left: 10px;
        color: $letraFondoClaro;
      }
  
      &.right {
        right: 10px;
        color: $letraFondoClaro;
      }
  
      &:hover {
        background-color: $fondoOscuro;
        color: $letraFondoOscuro;
      }
    }
  }