@import './styles/variables';

body {
  margin: 0;
  background-color: $fondo;
  color: $colorTexto;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.conNavLateral {
  margin-left: 220px;
}
.container {
  margin-top: 1.5rem;
  padding-left: 5%;
  margin-right: 5%;
  
}

.containerSidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px; 
}

.container {
  display: flex;
  margin-top: 1.5rem;
  padding-left: 5%;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
}

.conNavLateral {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px; 
}

.tituloEnPag {
  cursor: pointer;
  width: fit-content;

  .textoTitulo {
    position: relative;
    color: $colorTitulos;
    font-family: $titulos;
    letter-spacing: 1px;
  }

  svg {
    transform: translateX(-9px);
    transition: all 0.3s ease;
  }

  &:hover svg {
    transform: translateX(0);
  }

  &:active svg {
    transform: scale(0.8);
  }

  .textoTitulo:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $colorTitulos;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover .textoTitulo:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}