@import '../../styles/variables';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $fondoOscuro;
    padding: 1% 2%;
    height: 10vh;
    position: relative;
    z-index: 10;
  
    .navbar-brand {
      font-family: $titulos;
    
      color: $letraFondoOscuro;
      &:hover {
        color: $colorTitulos;
      }
    }

  
    .search-contenedor {
      display: flex;
      align-items: center;
      background-color: $fondoClaro;
      border-radius: 25px;
      padding: 5px 15px;
      width: 300px;
      height: 30px;
      &:hover {
        border: $letraFondoOscuro 1.8px solid;
      }
    }
  
    .search-input {
      border: none;
      outline: none;
      font-size: 16px;
      background-color: transparent;
      flex-grow: 1;
      color: $letraFondoClaro;
  
      &::placeholder {
        color: $letraFondoClaro;
      }

    }
    .search-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      svg {
        width: 20px;
        stroke: none;
        fill: $letraFondoClaro;
  
        stroke-linecap: round;
        stroke-linejoin: round;
        cursor: pointer;
        &:hover {
          fill: $letraFondoOscuro;
        
        }
      }
    }
  
    .navbar-icons {
      display: flex;
      gap: 1em;
  
      svg {
        width: 5rem;
        height: 2rem;
        stroke: $letraFondoOscuro;
        stroke-width: 2em;
        fill: none;
        stroke-linecap: unset;
        stroke-linejoin: initial;
        cursor: pointer;
        &:hover {
        stroke: none;
        fill: $colorTitulos;
        }
      }
    }
  }