@import '../../styles/variables';

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $fondoOscuro;
  padding: 2%;
  height: 10vh;
  position: relative;
  z-index: 10;

  
  .custom-navbar-brand {
    font-family: $titulos;
    font-size: 20px;
    font-weight: bold;
    color: $letraFondoOscuro;

    &:hover {
      color: $colorTitulos;
    }
  }

  .search-contenedor {
    display: flex;
    align-items: center;
    background-color: $fondo;
    border-radius: 25px;
    padding: 5px 15px;
    width: 300px;
    height: 30px;

    &:hover {
      border: $letraFondoOscuro 1.8px solid;
    }
  }

  .search-input {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    flex-grow: 1;
    color: $letraFondoClaro;

    &::placeholder {
      color: $colorTextoSecundario;
    }
  }

  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    svg {
      width: 20px;
      stroke: none;
      fill: $colorTextoSecundario;
      stroke-linecap: round;
      stroke-linejoin: round;
      cursor: pointer;

      &:hover {
        fill: $letraFondoOscuro;
      }
    }
  }

  .custom-navbar-icons {
    display: flex;
    gap: 1em;

    .custom-dropdown {
      position: relative;
      display: inline-block;

      #perfilButton {
        cursor: pointer;

        .userIcon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;

        }
      }

      // Contenedor del menú
      .custom-dropdown-content {
        
        display: none;
        position: absolute;
        background-color: $fondo;
        box-shadow: 0px 8px 16px rgba($colorTexto, 0.5);
        z-index: 1;
        min-width: 150px;
        padding: 10px 0;
        border-radius: 5px;
        top:105%;
        transform: translateX(-55%);

        .custom-dropdown-element {
          display: block;
          padding: 10px 20px;
          color: $colorTexto;
          text-decoration: none;
          
          &:hover {
            background-color: rgba($colorTexto, 0.05);
          }

        }
        .danger{
          color:$danger;
          &:hover{
            color: $fondo;
            background-color: $danger;
          }
        }
      }

      // Mostrar el menú al hacer hover
       .opened{
        display: block;
         animation: slideInLeft 0.3s ease-out;
      }
    }

    .svg-icon {
      width: 2.5rem;
      height: 2.5rem;
     
        
        stroke: $letraFondoOscuro;
       stroke-width: 3em;
        fill: none;
       stroke-linecap: unset;
       stroke-linejoin: initial;
       cursor: pointer;

     
       &:hover {
         fill: $colorTitulos;
         stroke: $colorTitulos;
        }
    }
  }
}


.dark {
  .custom-navbar{
  background-color: $fondoDarkOscuro;
  .custom-navbar-brand {
    color: $letraFondoDarkClaro;
    &:hover{
      color:$letraFondoDarkOscuro;
    }
  }
  .search-contenedor {
    background-color: $fondoDarkClaro;
    &:hover {
      border-color: $letraFondoDarkOscuro;
    }
  }
  .search-input{
    color: $colorTextoDark;
    &::placeholder {
      color: $colorTextoSecundarioDark;
    }
  }
  .search-button {
    svg {
      fill: $colorTextoSecundarioDark;
      &:hover {
        fill: $colorTitulosDark;
      }
    }
  }
  .custom-navbar-icons {
    .svg-icon {
      stroke: $letraFondoDarkClaro;
      &:hover {
        fill: $letraFondoDarkOscuro;
        stroke: $letraFondoDarkOscuro;
      }
    }
    .custom-dropdown-content {
      background-color: $fondoDark;
      .custom-dropdown-element {
        color: $colorTextoDark;
        &:hover {
          background-color: rgba($colorTextoDark, 0.05);
        }
      }
      .danger {
        color: $dangerDark;
        &:hover {
          color: $fondoDark;
          background-color: $dangerDark;
        }
      }
    }
    
  }
}
}